.emp-container {
  width: 580px;
  height: 33rem;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 80px 0 0 72px;
  position: relative;

  .editemployee {
    position: absolute;
    z-index: 99;
    width: 120px;
    padding: 15px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid gray;
  }
}

@media (max-width: "1400px") {
  .emp-container {
    width: 75%;
    height: 50%;
    margin-top: 40px ;
    margin-left: 80px;
  }
}
@media (max-width: "600px") {
  .emp-container {
    width: 90%;
    height: 100%;
    margin: 20px auto;
  }
}
