.home-heading {
  display: flex;
  margin-top: 7rem;
  padding: 0.5rem;

  .feature-content {
    h1 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-right: 2.5rem;
      padding-top: 0.5rem;
      padding-left: 2rem;
    }
  }

  

    .simple {
      color: #193d59;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 150%;
      cursor: pointer;
  }

  .active {
    width: 10.875rem;
    height: 4.1875rem;
    border-radius: 1rem;
    background-color: #e5ecff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  
}





