.card-container{
    width: 329px;
    height: 571px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 40px;
    margin-bottom: 10px;
    display: inline-block;

 .image{
    width: 329px;
    height: 264px;
    border-radius:  24px 24px 0 0;
 }

}