.card-container{
    width: 26.6rem;
    height: 35.6rem;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 40px;
    margin-bottom: 10px;
   

  .second-container{
   position: relative;

  .card-icon{
   display: flex;
   justify-content: space-between;
  }

  .option-icon{
   background-color: #FFFFFF;
   border-radius: 50%;
   width: 3.5rem;
   height: 3.5rem;
   position: absolute;
   top:1rem ;
   left: 1.6rem;
   

   img{
     margin-top: 1rem; 
     margin-left: auto;
     margin-right: auto;
   }

  }

  .option-icon:hover{
   transform: scale(1.1);
  }


  .bookmark-icon{
   background-color: #FFFFFF;
   border-radius: 50%;
   width: 3.5rem;
   height: 3.5rem;
   position: absolute;
   top:1rem ;
   right: 3rem;;
  }

  img{
   margin-top: 1rem; 
   margin-left: auto;
   margin-right: auto;
  }

  }


 .image{
    width: 26.6rem;
    height: 16.5rem;
    border-radius:  24px 24px 0 0;
 }


 .card-heading{
   margin-left: 1rem;
   font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 500;
    margin-top: 2rem;

 }

 .card-details{
   margin-top:4px ;
   display: flex;

}
   }


   @media  (max-width:1000px) {
    .card-container{
      width: 22rem;
    }

    .image{
      width: 22rem;
    }
   }

 

   @media screen and (max-width:600px) {
    .card-container{
      width: 20.5rem;
      flex-shrink: 0;
     

      .bookmark-icon{
      left: 15rem;
       }

      .image{
        width: 20.5rem;
      }
    }
   }

