.profilenav{
position: relative;

.profilenav-container {
  margin: 0 auto;


  ul {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    .list {
      color: #193d59;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 150%;
    }
    .active {
      width: 10.875rem;
      height: 4.1875rem;
      border-radius: 1rem;
      background-color: #e5ecff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.delete {
  display: flex;
  width: 8.625rem;
  height: 1.625rem;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  color: #555b61;
  font-weight: 700;
  margin-bottom: 15px;
}

.delete-btn {
  display: flex;
  width: 90%;
  height: 3.125rem;
  margin: 0 auto;
  padding: 0.875rem 1.5rem;
  justify-content: center;
  align-items: center;

  gap: 0.625rem;
  border-radius: 0.875rem;
  border: 2px solid #555b61;
  flex-shrink: 0;
  visibility: hidden;
  margin-bottom: 40px;
}

.deletePopover{
  position: absolute;
  z-index: 99;
  width: 30rem;
  height: 18rem;
 padding: 15px;
  border-radius: 16px;
 top: 10%;
 left: 35%;
 background-color: white;
 border: 1px solid gray;
}
}

@media (max-width:1000px) {
  .profilenav{

    .deletePopover{
      left: 25%;
    }
  }
}

@media (max-width:900px) {
  .profilenav{

    .deletePopover{
      left: 20%;
    }
  }
}

@media (max-width: 700px) {

  .profilenav{
  .profilenav-container {
    ul {
      gap: 2rem;

      li {
        font-size: 1rem;
        overflow: scroll;
      }
    }
  }

  .delete {
    display: none;
  }

  .delete-btn {
    visibility: visible;
  }
 
  .deletePopover{
   
    width: 90%;
    height: 18rem;
    left: 5%;
 
  }

}
}
