.certificates-container {
  width: 90%;
  background-color: #fff;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 20px 20px 50px 0px rgba(238, 241, 248, 0.5);
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 50px;
  padding-bottom: 30px;

  .certificates-heading {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;

    h4 {
      color: #193d59;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      margin-left: 4rem;
    }

    img {
      width: 2rem;
      height: 2rem;
      margin-right: 4rem;
      object-fit: contain;
    }
  }

  .certificate-content {
    display: flex;
    justify-content: space-between;

    .leftSide {
      display: flex;
      gap: 1rem;
      margin-left: 4rem;
      margin-top: 2rem;

      h6 {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 150%;
      }
      p {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 150%;
      }
    }

    .rightSide {
      display: flex;
      gap: 2rem;
      margin-right: 4rem;
      margin-top: 2rem;

      .completeone {
        color: #4bb392;
        text-align: right;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 150%;
        margin-top: 2px;
      }

      .incompleteone {
        color: #fda522;
        text-align: right;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}

@media (max-width: 600px) {
  .certificates-container {
    .certificates-heading {
      h4 {
        margin-left: 1rem;
        font-size: 1.375rem;
      }

      img{
        margin-right: 1rem;
      }
    }


    .certificate-content{

      .leftSide{
        margin-left: 1rem;
      }

      .rightSide{
        gap: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
